<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TestAIML</display-name>
  <welcome-file-list>
   
    <welcome-file>dl.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>aimlServlet</servlet-name>
    <servlet-class>cn.net.hanmu.aiml.servlet.aimlServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.net.hanmu.aiml.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet_ts</servlet-name>
    <servlet-class>cn.net.hanmu.aiml.servlet.UserServlet_ts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aimlServlet</servlet-name>
    <url-pattern>/aimlServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>UserServlet_ts</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SelectHistor</servlet-name>
    <servlet-class>cn.net.hanmu.aiml.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectHistor</servlet-name>
    <url-pattern>/selectHistor</url-pattern>
  </servlet-mapping>
</web-app>